{% extends 'base.html' %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block content %}
<a href='{% url 'files.views.upload' %}' class='btn btn-primary btn-sm'>Upload new file</a>
{% for course, files in courses %}
    <h4>{{ course }}</h4>
    {% for file in files %}
    <div><a href='{{ file.get_absolute_url }}'>{{ file.title }}</a></div>
    {% endfor %}
{% endfor %}
{% endblock %}

{% block js %}
{{ block.super }}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.js"></script>
{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}
