{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block title %}
New file - {{ block.super }}
{% endblock %}

{% block content %}
<form method='post' enctype="multipart/form-data" action=''>
    {% csrf_token %}
    {{ form|crispy }}
    <div class='text-left'>
        <input type='submit' class='btn btn-success' value='Upload'/>
    </div>
</form>
{% endblock %}

{% block js %}
{{ block.super }}
<script>
$('select').removeClass('form-control').attr('data-live-search','true');
</script>
{% endblock %}
